body {
    text-align: center;
    padding: 5% 20%;
}

* {
    box-sizing: border-box;
}

.gift {
    border: 1px solid lightcoral;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

Button {
    margin: 10px;
}